@font-face {
  font-family: 'Lobster';
  src: url('/css/Lobster-Regular.ttf')
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: 'Lobster';
}

#drawing {
  width: 100%;
  height: 80%;
  position: relative;
}

#terminal {
  width: 100%;
  height: 20%;
  background-color: #000000;
  color: #66ff66;
  font-family: monospace;
  font-size: smaller;
  overflow: scroll;
  padding: 5px 15px;
  box-sizing: border-box;
}

.icon {
  position: absolute;
  cursor: pointer;
  text-align: center;
}

.inactive {
  filter: grayscale(100%);
}

.speech-bubble {
  background: #efefef;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  font-size: 1.2rem;
  line-height: 1.3;
  margin: 0 auto 40px;
  max-width: 180px;
  padding: 15px;
  position: absolute;
}

.speech-bubble p {
  margin: 0 0 10px;
}
.speech-bubble p:last-of-type {
  margin-bottom: 0;
}

.speech-bubble::after {
  border-left: 20px solid transparent;
  border-top: 20px solid #efefef;
  bottom: -20px;
  content: "";
  position: absolute;
  right: 20px;
}

.speech-bubble.left::after {
  right: inherit !important;
  left: 20px;
  border-right: 20px solid transparent;
  border-left: inherit;
}

#init.overlay {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.6)
}

#init #init-title {
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  font-size: 3em;
  margin-top: 5%;
}

#init form {
  text-align: center;
}

#init form * {
  margin: auto;
  display: block;
}

#init form img {
  width: 10%;
}

#announcement {
  position: absolute;
  vertical-align: center;
  text-align: center;
  font-family: monospace;
}
